@tailwind base;
@tailwind components;
@tailwind utilities;


.preview .Title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    font-style: bold;
    font-size: 36px;
    height: 100vh;
}


.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: bold;
    height: 100vh;
    background-color: #f8f7f7;
}

.preview button{
    background-color: #4e0101;
    color: white;
    border: none;
    padding: 20px 40px;
    margin: 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    width: 300px;
    transition: background-color 0.3s ease;
}


.SignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .SignUp h2 {
    margin-bottom: 20px;
  }
  
  .SignUp p {
    color: red;
  }



.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .Login h2 {
    margin-bottom: 20px;
  }
  
  .Login p {
    color: red;
  }